body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.EightBall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 35px;
    text-align: center;
    color: white;
}